In [1]:
print("Namaskar World")

Namaskar World

In [2]:
print("Hello there")
print("my name is......")
print("Karl?")

Hello there
my name is......
Karl?

In [3]:
print("Hello there", end=' ')
print("my name is......",end=' ')
print("Karl?",end=' ')

Hello there my name is...... Karl?

In [4]:
wage = 20
print("wage is",end=' ')
print(wage)
print("goodbye")

wage is 20
goodbye

In [5]:
wage = 20
print("wage: ",wage)
print("goodbye")

wage:  20
goodbye

In [8]:
print("1\n2\n3")

1
2
3

In [9]:
print("123")
print()
print("abc")

123

abc

In [2]:
print('Enter name of best friend:',end=' ')
best_friend = input()
print("My best friend is ", best_friend)

Enter name of best friend: My best friend is  Kabir

In [3]:
my_string = '123'
my_int = int('123')
print(my_string)
print(my_int)

123
123

In [6]:
print("Enter wage:", end=' ')
wage = int(input())
new_wage = wage + 10
print('New wage:', new_wage)

Enter wage: New wage: 18

In [8]:
n = int(input())
n = n + 20
print(n,type(n))

40 <class 'int'>

In [1]:
print("current salary is", end=' ')
print(45000)

current salary is 45000